apiVersion: 1

policies:
  - orgId: 1
    receiver: all-channels
    group_by: ["alertname"]
    group_wait: 30s
    group_interval: 5m
    repeat_interval: 4h
    routes:
      - matcher: severity="critical"
        receiver: all-channels
        group_by: ["alertname"]
        group_wait: 30s
        group_interval: 2m
        repeat_interval: 2h